<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <list-errors errors="$ctrl.errors"></list-errors>
        <form>
          <!-- TODO! create is submitting controller -->
          <fieldset ng-disabled="$ctrl.isSubmitting">

            <fieldset class="form-group">
              <!-- TODO! create is article title (test title) controller -->
              <input class="form-control form-control-lg"
                ng-model="$ctrl.article.title"
                type="text"
                placeholder="Test Title" />
            </fieldset>


            <label ng-repeat="entry in $ctrl._Gsheets.entries">
              <input type="checkbox"> <b> testcase type: </b>{{entry.gsx$type.$t}} <b>testcase ID: </b>{{entry.gsx$testcaseid.$t}}
            </label>
          </fieldset>
        </form>





        <button class="btn btn-lg pull-xs-right btn-primary" type="button" ng-click="$ctrl.submit()">
          Run Test
        </button>






      </div>
    </div>
  </div>
</div>